body {
  background: url(https://images.unsplash.com/photo-1574251618046-75ca15efd65e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1250&q=80);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.3em;
}

.container {
  opacity: 100%;
  max-width: 80%;
  width: 550px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 2em 2em 1.6em 2em;
}

.author {
  font-style: italic;
  text-align: right;
  width: 100%;
  padding: 7px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

i {
  padding: 5px;
  color: black;
}

.quotation-mark {
  position: relative;
  bottom: 8px;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-telegram {
  color: #0088cc;
}
