* {
  margin: 0;
  padding: 0;
  color: #353535;
  text-align: justify;
  text-justify: inter-character;
  font-family: "Crimson Pro";
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.5em;
}

#root {
  background: url(https://images.unsplash.com/photo-1574251618046-75ca15efd65e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1250&q=80);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

main {
  margin: 1em;
  width: 500px;
  background-color: #f1f1f1;
  box-shadow: 0.3em 0.3em #3535354d;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.author {
  font-style: italic;
  text-align: right;
  width: 100%;
  padding: 0.1em 0 0.8em 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

i {
  padding: 0.1em;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-telegram {
  color: #0088cc;
}

button {
  border-radius: 0;
  font-size: 0.7em;
  padding: 0.2em 0.4em;
  margin: 0;
}